# Terraform state
*.tfstate
*.tfstate.*

# Terraform plan
tfplan

# Terraform directory
.terraform/

# Ignore normal tfvars
*.tfvars

# Allow environment tfvars
!environments/qa.tfvars
!environments/prod.tfvars