# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variable files
*.tfvars
!environments/dev.tfvars
!environments/prod.tfvars

# Terraform plans
*.tfplan

# Logs
crash.log

# VS Code
.vscode/

# Linux
*.swp
